<?php if ($model->telegram_token):?>
<?php $sResp = file_get_contents('https://api.telegram.org/bot' . $model->telegram_token . '/getUpdates'); ?>
<?php
$arResp = json_decode($sResp);
?>
<?php foreach ($arResp->result as $arUpdate):
if (!property_exists($arUpdate, 'message') || $arUpdate->message->from->is_bot):?>
<?php var_dump($arUpdate);?>
<?php else:?>
<div>
    <div>User or chat ID: <strong><?=$arUpdate->message->chat->id?></strong></div>
    <div>First name: <?=$arUpdate->message->chat->first_name?></div>
    <div>Last name: <?=$arUpdate->message->chat->last_name?></div>
    <div>Username: <?=$arUpdate->message->chat->username?></div>
    <div>Date: <?=date('F j, Y H:i:s', $arUpdate->message->date)?></div>
</div>
<?php endif;?>
<?php endforeach;?>
<?php endif;?>